@use '@/styles/_breakpoint' as _bp;

.wrap {
  box-shadow: var(--btn-shadown);
  border: var(--btn-border);
  color: var(--btn-text);
  background: var(--btn-bg);
  min-height: var(--btn-height);
  min-width: var(--btn-height);
  border-radius: var(--btn-radius);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 320ms all;
  cursor: pointer;
  padding: var(--btn-padding);

  --btn-shadown: unset;
  --btn-shadown-hover: inset 0 0 300px rgb(0 0 0 / 5%);
  --btn-text: white;
  --btn-text-hover: white;
  --btn-bg: rgb(var(--color-primary));
  --btn-bg-hover: rgb(var(--color-primary));
  --btn-border: none;
  --btn-border-hover: none;

  --btn-height: 42px;
  --btn-padding: 0 20px;
  --btn-radius: var(--radius-1);

  &.small {
    --btn-height: 35px;
    --btn-padding: 0 14px;

    font-size: var(--size-small);
  }

  &.very-small {
    --btn-height: 28px;
    --btn-padding: 0 12px;
    font-size: var(--size-small);
  }

  &:hover,
  &:active {
    color: var(--btn-text-hover);
    box-shadow: var(--btn-shadown-hover);
    background: var(--btn-bg-hover);
    border: var(--btn-border-hover);
  }

  &.default {
    &.white {
      --btn-text: #000;
      --btn-text-hover: #000;
      --btn-bg: white;
      --btn-bg-hover: white;
    }
  }

  &:is(.text, .filled) {
    &.bg {
      --btn-shadown-hover: none;
      --btn-text: rgb(var(--bg));
      --btn-text-hover: rgb(var(--bg));
      --btn-bg: transparent;
      --btn-bg-hover: rgb(var(--bg), 0.08);
      --btn-border: none;
      --btn-border-hover: none;
    }

    &.opposite {
      --btn-shadown-hover: none;
      --btn-text: rgb(var(--bg-opposite));
      --btn-text-hover: rgb(var(--bg-opposite));
      --btn-bg: transparent;
      --btn-bg-hover: rgb(var(--bg-opposite), 0.08);
      --btn-border: none;
      --btn-border-hover: none;
    }
  }

  &.noPadding {
    --btn-padding: 0;
  }

  &.circle {
    --btn-radius: 50%;
  }
}

@media  #{_bp.$max-w-sm} {
  .wrap {
    --btn-height: 40px;
  }
}
